# Environnement virtuel
venv_LazyRepo/

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers de configuration des éditeurs
.vscode/
.idea/

# Fichier de secrets
.env

# Fichiers de note
JOURNAL_DEV.md
MIND_MAP.md
ARCHITECTURE_FINAL_STRUCTURE.md

# Fichiers temporaires et de test
test_dependencies.py
requirements_old_backup.txt