# Environnement virtuel
venv_LazyRepo/

# Fichiers de cache Python
__pycache__/
*.pyc

# Fichiers de configuration des éditeurs
.vscode/
.idea/

# Fichier de secrets
.env

# Fichiers de note
STRUCTURE_PROPOSAL.md  
JOURNAL_DEV.md

# Fichiers temporaires et de test
test_dependencies.py
requirements_old_backup.txt